.con{
    width: 100%;
    height : 800px;
    background-color: rgb(199, 199, 199);
}
.leftcon{
   
   float: left;
    width: 40%;
    height: 800px;
    
    background-color: rgb(154, 152, 152);


}
img{
    
    width: 200px;
    height: 200px;
    border-radius: 55%;
    margin-top: 30px;
    margin-left: 170px;


}
.info{
    width: 140px;
    height: 28px;
    border: solid 3px rgb(45, 42, 42);
    border-radius: 20px;
    background-color: rgb(45, 42, 42);
    color: aliceblue;
    text-align: center;
    font-size: 22px;
}
#f1{
    margin-left: 200px;
    margin-top: 20px;
}
.formatetext{

    text-align: start ;
    margin-top: 20px;

}
#f2{
    line-height: 1.5;
    padding: 10PX;
    margin-left: 100px;
}
.rightcon{
    width: 60%;
    height: 800px;
    float: right;
    background-color: antiquewhite;
}
.one{
   margin-left: 400px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: bolder ;
   
}
.two{
   margin-left: 410px;
    font-size: 28px;
    font-weight: bold;

}
.three{
    margin-left:   410px;

}
.box1{
    margin-top: 20px;
    margin-left: 30px;
   font-size: 20px;
}
.head{
    height: 10px;
    font-size: 24px;
    font-weight: bold;

}
.date{
    float: right;
    font-weight: bold;
}
.box1{
    font-weight:bold ;
    text-decoration:underline overline ;
    
    font-size: 35px;
}
.box2{
    float: left;

}
.box3{
    float: right;
}

